<h1>Employee Portal</h1>
<hr>

<div class="sub">
  Enter Email and Subscribe for Notifications: 
    <input type="text" [(ngModel)]="username" placeholder="Enter Email"><br><br>

    <label for="event"><b>Event :</b></label>

    <input type="radio" id="event" name="event"  [(ngModel)]="event" value="Subscribe">
    <label for="event">Subscribe</label>

    <input type="radio" id="event" name="event"  [(ngModel)]="event" value="Unsubscribe">
    <label for="event">Unsubscribe</label>


    <br><br><label for="event"><b>Urgent :</b></label>

    <input type="radio" id="urgent" name="urgent"  [(ngModel)]="urgentHelp" value="Subscribe">
    <label for="urgent">Subscribe</label>

    <input type="radio" id="urgent" name="urgent"  [(ngModel)]="urgentHelp" value="Unsubscribe">
    <label for="event">Unsubscribe</label>

    <br><br><label for="event"><b>Holiday  :</b></label>

    <input type="radio" id="holiday" name="holiday"  [(ngModel)]="holiday" value="Subscribe">
    <label for="holiday">Subscribe</label>

    <input type="radio" id="holiday" name="holiday"  [(ngModel)]="holiday"  value="Unsubscribe">
    <label for="holiday">Unsubscribe</label>

    <br><br><label for="event"><b>Nagarro News:</b> </label>

    <input type="radio" id="news" name="news"  [(ngModel)]="nagarroNews" value="Subscribe">
    <label for="news">Subscribe</label>

    <input type="radio" id="news" name="news"  [(ngModel)]="nagarroNews" value="Unsubscribe">
    <label for="news">Unsubscribe</label>


    <br><br><label for="event"><b>New Policy: </b></label>

    <input type="radio" id="policy" name="policy"  [(ngModel)]="newPolicy" value="Subscribe">
    <label for="urgent">Subscribe</label>

    <input type="radio" id="policy" name="policy"  [(ngModel)]="newPolicy" value="Unsubscribe">
    <label for="policy">Unsubscribe</label>

    <br><br><button type="submit"  (click)="subscribe()">Submit</button>
</div>




